extends layout

block content
    
    div.page-header
        h1.aboutMeHeader 
            | Who is Kris?
    
    div
        p.aboutMeParagraphs
            | I am a software developer who graduated in 2014 from the University of Michigan - Dearborn.
        
        p.aboutMeParagraphs
            | I currently work at a small company called Above The Treeline where my role is a full stack </br>
            | developer. We help professionals in the book industry host books, give reviews, and track inventory. </br> 
            | Previously, I worked at Marathon Petroleum where I was a developer for the Pricing team. My </br>
            | main responsibility was to ensure our systems integrity to guarantee prices were posted every day.  

        br

        p.aboutMeParagraphs
            | My primary technology stack has been .NET, which I have used at both of my jobs. I have a mixture of C# and VB, but </br>
            | I prefer C# between the two. My main SQL experience resides with SQL Server using SSMS. In my spare time, </br>
            | I tend to experiment with new technology outside of .NET. My current endeavour is in Node.js, which I used to build </br>
            | this website. I also used Express.js with MVC as the architecture to complete the website.

        br

        p.aboutMeParagraphs
            | I am always willing to meet about any exciting opportunities, chat, and give thoughts on topics, so please feel free to reach out to me.  