extends layout

block content
  div
    p.aboutMeParagraphs
      | Welcome to my personal website! I have created this to give myself some freedom <br /> to express myself and share various endeavours publicly. Enjoy!
    br
    br
    
    p.aboutMeParagraphs 
      |My latest interest is VR. I am currently learning how to build small VR applications on Google Daydream.<br /> I used to think it was pointless
      |;however, after playing a basic zombie shooting game I became fascinated.
    p.aboutMeParagraphs 
      |I hope to learn quickly and demonstrate a few of these applications in my projects section soon.
