extends layout

block content
  div
    p.aboutMeParagraphs
      | I am trying to learn how to build software as best as possible. 
      | 
    br
    br
    
    p.aboutMeParagraphs 
      |My experience is mostly in the .NET world; however, I tinker with javascript and other langauges in my spare time.
      |I am an inconsistent GitHub contributor (still looking for an OS repo that changes that)
