body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img#personal {
  margin-top: 25px;
  height: 150px;
  border-radius: 50%;
}

.header {
  background-color: #16ba23;
}

.githubReposLink {
  width: 40%;
}

.badgeText {
  float: right;
  margin: 0 5px;
}

.githubImage {
  width: 50px;
}

.name {
  margin: 5px;
}

.aboutMeHeader {
  text-align: center;
}

.aboutMeParagraphs {
  margin-left: auto;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

.projectsHeader {
  text-align: center;
}

.projectParagraphs {
  margin-left: auto;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

.projectContainer {
  text-align: center;
}

.reducedJumboTronPadding {
  padding-top: 18px !important;
  padding-bottom: 0px !important;
}

.tagline {
  font-size: 18px;
  font-weight: bold;
}