body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img#personal {
  margin-top: 25px;
  height: 250px;
  border-radius: 50%;
}

.header {
  background-color: #16ba23;
}

.githubReposLink {
  width: 40%;
}

.badgeText {
  float: right;
  margin: 0 5px;
}

